.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    background-color: #353434;
    font-size: 1.6rem;
    font-style: bold;
    /* margin-top: -1rem; */
    /* margin-left: 0rem; */
    /* margin-right: 0rem; */
  }
  
  .header__left {
    margin-right: auto;
    color: #c4c5cd;
    text-decoration: none;
  }
  .header__left:hover{
    color: #84909d;
    text-decoration: underline;
  }
  
  .header__right {
    display: flex;
    align-items: center;
  }
  
  .header__right_link {
    margin-right: 10px;
    color: #b987d8;
    text-decoration: none;
  }
  
  .header__right_link:hover {
    color: #bc57be;
    text-decoration: underline;
  }
  
  .header__right button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
  }
  
  .header__right button:hover {
    background-color: #c82333;
    cursor: pointer;
  }

  .login_header{
    color: #ad80bf;
  }
  